{{ define "head" }}
<link rel="canonical" href="{{ with .Params.canonicalURL }}{{ . }}{{ else }}{{ strings.TrimSuffix "/" .Permalink }}{{ end }}" />
{{ end }}
{{ define "main" }}
<div class="content">
    <article class="post">
        <header class="post__header">
            <time class="post__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            <h1 class="post__title">{{ .Title }}</h1>
        </header>
        <div class="post__body">
            {{ .Content }}
        </div>
        <nav class="post__back"><a href="/blog">← All posts</a></nav>
    </article>
</div>
{{ end }}
